<div class="carForm" *ngIf="action === ADD_ITEM || action == EDIT_ITEM || action == VIEW_ITEM">
  <div class="form-group">
    <label for="model">Model</label>
    <input type="text" class="form-control" placeholder="Model" id="model" [(ngModel)]="item.name"
           [disabled]="(action == VIEW_ITEM)?'true':'false'"/>
  </div>
  <div class="form-group">
    <label for="url">Adres obrazka</label>
    <input type="text" class="form-control" placeholder="URL obrazka" id="url" [(ngModel)]="item.image"
           [disabled]="(action == VIEW_ITEM)?'true':'false'"/>
    <img *ngIf="(action == VIEW_ITEM)" src="{{item.image}}"/>
  </div>
  <div class="form-group">
    <label for="price">Cena</label>
    <input type="number" class="form-control" placeholder="Cena" id="price" [(ngModel)]="item.price"
           [disabled]="(action == VIEW_ITEM)?'true':'false'"/>
  </div>
  <div class="form-group">
    <label for="horsepower">Moc silnika</label>
    <input type="number" class="form-control" placeholder="Moc silnika" id="horsepower"
           [(ngModel)]="item.horsepower" [disabled]="(action == VIEW_ITEM)?'true':'false'"/>
  </div>
  <div class="form-group">
    <label for="engcap">Pojemność silnika</label>
    <input type="number" class="form-control" placeholder="Pojemność silnika" id="engcap" [(ngModel)]="item.engcap"
           [disabled]="(action == VIEW_ITEM)?'true':'false'"/>
  </div>
  <div class="form-group">
    <label for="description">Opis samochodu</label>
    <textarea class="form-control" id="description" rows="3" [(ngModel)]="item.description"
              [disabled]="(action == VIEW_ITEM)?'true':'false'"></textarea>
  </div>
  <div class="form-check">
    <label class="form-check-label">
      <input type="checkbox" class="form-check-input" [(ngModel)]="item.airconditioning"
             [disabled]="(action == VIEW_ITEM)?'true':'false'">
      Klimatyzacja
    </label>
  </div>
  <div class="form-group" [ngSwitch]="action">
    <button class="btn btn-primary" *ngSwitchCase="ADD_ITEM" color="primary" (click)="saveCar(item)">Zapisz</button>
    <button class="btn btn-primary" *ngSwitchCase="EDIT_ITEM" color="primary" (click)="updateCar(item)">Zapisz
    </button>
    <button class="btn btn-primary" color="primary" (click)="cancel()">Anuluj</button>
  </div>
</div>
