<form class="form-inline">
  <button type="button" class="btn btn-primary" color="accent" (click)="addNewCar()">Dodaj samochód</button>

  <input type="number" class="form-control" placeholder="Cena od" value="{{filterFrom}}" #from/>

  <input type="number" class="form-control" placeholder="Cena do" value="{{filterTo}}" #to/>

  <button type="button" class="btn btn-primary" color="accent" (click)="this.updateFilters(from.value, to.value)">
    Zastosuj filtry
  </button>

</form>

<table class="table">
  <thead>
  <tr>
    <th (click)="this.sortColumn('name')">
      <i *ngIf="sortColumnName !== 'name'" class="fa fa-random"></i>
      <i *ngIf="sortColumnName === 'name' && sortAsc" class="fa fa-sort-amount-asc"></i>
      <i *ngIf="sortColumnName === 'name' && !sortAsc" class="fa fa-sort-amount-desc"></i>
      Model samochodu
    </th>
    <th (click)="this.sortColumn('price')">
      <i *ngIf="sortColumnName !== 'price'" class="fa fa-random"></i>
      <i *ngIf="sortColumnName === 'price' && sortAsc" class="fa fa-sort-amount-asc"></i>
      <i *ngIf="sortColumnName === 'price' && !sortAsc" class="fa fa-sort-amount-desc"></i>
      Cena
    </th>
    <th (click)="this.sortColumn('horsepower')">
      <i *ngIf="sortColumnName !== 'horsepower'" class="fa fa-random"></i>
      <i *ngIf="sortColumnName === 'horsepower' && sortAsc" class="fa fa-sort-amount-asc"></i>
      <i *ngIf="sortColumnName === 'horsepower' && !sortAsc" class="fa fa-sort-amount-desc"></i>
      Moc silnika
    </th>
    <th (click)="this.sortColumn('engcap')">
      <i *ngIf="sortColumnName !== 'engcap'" class="fa fa-random"></i>
      <i *ngIf="sortColumnName === 'engcap' && sortAsc" class="fa fa-sort-amount-asc"></i>
      <i *ngIf="sortColumnName === 'engcap' && !sortAsc" class="fa fa-sort-amount-desc"></i>
      Pojemność silnika
    </th>
    <th>Opcje</th>
  </tr>
  </thead>
  <tbody>
  <app-row *ngFor="let car of items" [item]="car"
           [style.display]="(!filterTo || car.price <= filterTo) && ( !filterFrom || car.price >= filterFrom)?'table-row':'none'"
           (viewCarEvent)="viewCar($event)" (editCarEvent)="editCar($event)"
           (deleteCarEvent)="deleteCar($event)"></app-row>
  </tbody>
</table>
