<md-card>
  <md-input type="number" placeholder="Cena od" value="{{filterFrom}}" #priceFrom
            (change)="this.updateFilters(priceFrom.value, priceTo.value)">
    <span md-suffix>zł</span>
  </md-input>
  <md-input type="number" placeholder="Cena do" value="{{filterTo}}" #priceTo
            (change)="this.updateFilters(priceFrom.value, priceTo.value)">
    <span md-suffix>zł</span>
  </md-input>

  <table class="table">
    <thead>
    <tr>
      <th *ngFor="let column of columns" (click)="!column.sortable || this.sortColumn(column.name)">
        <i *ngIf="column.sortable && sortColumnName !== column.name" class="fa fa-sort"></i>
        <i *ngIf="column.sortable && sortColumnName === column.name && sortAsc" class="fa fa-sort-asc"></i>
        <i *ngIf="column.sortable && sortColumnName === column.name && !sortAsc" class="fa fa-sort-desc"></i>
        {{column.header}}
      </th>
      <th>Opcje</th>
    </tr>
    </thead>
    <tbody>
    <app-table-row *ngFor="let car of items" [item]="car"
                   [style.display]="(!filterTo || car.price <= filterTo) && ( !filterFrom || car.price >= filterFrom)?'table-row':'none'"
                   (viewCarEvent)="viewCar($event)" (editCarEvent)="editCar($event)"
                   (deleteCarEvent)="deleteCar($event)"></app-table-row>
    </tbody>
  </table>
</md-card>
