<md-toolbar color="primary">
  <span>{{headers[store.state.action]}}</span>
  <span class="example-fill-remaining-space"></span>
  <button md-raised-button color="accent" *ngIf="store.state.action !== 'NEW'" (click)="tableService.newCar()">Dodaj
    samochód
  </button>
</md-toolbar>

<app-car [item]="store.state.car" [action]="store.state.action"></app-car>
<app-table [items]="store.state.list" [action]="store.state.action" [filters]="store.state.filters"
           [sortColumn]="store.state.sortColumn" [sortAsc]="store.state.sortAsc"></app-table>