<td>{{item.name}}</td>
<td>{{item.price}} zł.</td>
<td>{{item.horsepower}} hp</td>
<td>{{item.engcap}} l</td>
<td>
  <button type="button" class="btn btn-secondary btn-sm" (click)="viewCar(item)"><i class="fa fa-eye" aria-hidden="true"></i></button>
  <button type="button" class="btn btn-secondary btn-sm" (click)="editCar(item)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
  <button type="button" class="btn btn-secondary btn-sm" (click)="deleteCar(item)"><i class="fa fa-ban" aria-hidden="true"></i></button>
</td>
